<section class="bg-light">
    <div class="container">
        <h2 class="text-center">Awards</h2>
        <div class="row no-gutters mt-40 justify-content-md-center">
        <div class="col-md-2 bg-image square-50 content-center">
            <img src="images/awards/1.png" class="contain">
        </div>
        <div class="col-md-2 bg-image square-50 content-center">
            <img src="images/awards/2.png" class="contain">
        </div>
        <div class="col-md-2 bg-image square-50 content-center">
            <img src="images/awards/3.png" class="contain">
        </div>
        <div class="col-md-2 bg-image square-50 content-center">
            <img src="images/awards/4.png" class="contain">
        </div>
        <div class="col-md-2 bg-image square-50 content-center">
            <img src="images/awards/5.png" class="contain">
        </div>
        <div class="col-md-2 bg-image square-50 content-center">
            <img src="images/awards/6.png" class="contain">
        </div>
        </div>
    </div>
</section>