<section class="blog">
<div class="container">
    <div class="col-md-12 clearfix">
    <div class="pull-left">
        <h2 class="text-center">Blog Update</h2>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary color-gray">View All</button>
    </div>
    </div>
    <div class="row mt-30 justify-content-md-center">
    <div class="col-md-4">
        <div class="bg-image square-70 mb-20">
        <img src="images/blog/home/1.jpg">
        </div>
        <div class="pull-right fs-16 fw-600 color-light">
        12
        <i class="far fa-comment mr-3"></i>
        3
        <i class="fas fa-reply"></i>
        </div>
        <h4 class="color-orange">Blog title goes here</h4>
        <p class="mt-10 fw-400 color-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor sapien in ipsum consequat mollis. Fusce
        sagittis..
        </p>
        <h5 class="fw-600 color-light mt-10">JUSTIN VAUGHN / 23 SEP</h5>
    </div>
    <div class="col-md-4">
        <div class="bg-image square-70 mb-20">
        <img src="images/blog/home/2.jpg">
        </div>
        <div class="pull-right fs-16 fw-600 color-light">
        12
        <i class="far fa-comment mr-3"></i>
        3
        <i class="fas fa-reply"></i>
        </div>
        <h4 class="color-orange">Blog title goes here</h4>
        <p class="mt-10 fw-400 color-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor sapien in ipsum consequat mollis. Fusce
        sagittis..
        </p>
        <h5 class="fw-600 color-light mt-10 ">JUSTIN VAUGHN / 23 SEP</h5>
    </div>
    <div class="col-md-4">
        <div class="bg-image square-70 mb-20">
        <img src="images/blog/home/3.jpg">
        </div>
        <div class="pull-right fs-16 fw-600 color-light">
        12
        <i class="far fa-comment mr-3"></i>
        3
        <i class="fas fa-reply"></i>
        </div>
        <h4 class="color-orange">Blog title goes here</h4>
        <p class="mt-10 fw-400 color-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor sapien in ipsum consequat mollis. Fusce
        sagittis..
        </p>
        <h5 class="fw-600 color-light mt-10">JUSTIN VAUGHN / 23 SEP</h5>
    </div>
    </div>
    <div class="row mt-40 justify-content-md-center">
    <div class="col-md-4">
        <div class="row">
        <div class="col-md-6">
            <div class="bg-image square mb-20">
            <img src="images/blog/home/4.jpg">
            </div>
        </div>
        <div class="col-md-6">
            <h4 class="color-orange">Blog title goes here lorem ipsum dolor sit amet...</h4>
            <p class="fw-600 fs-14 color-light mt-10">JUSTIN VAUGHN / 23 SEP</p>
            <div class="fs-16 fw-600 mt-20 color-light">
            12
            <i class="far fa-comment mr-3"></i>
            3
            <i class="fas fa-reply"></i>
            </div>
        </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
        <div class="col-md-6">
            <div class="bg-image square mb-20">
            <img src="images/blog/home/5.jpg">
            </div>
        </div>
        <div class="col-md-6">
            <h4 class="color-orange">Blog title goes here lorem ipsum dolor sit amet...</h4>
            <p class="fw-600 fs-14 color-light mt-10">JUSTIN VAUGHN / 23 SEP</p>
            <div class="fs-16 fw-600 mt-20 color-light">
            12
            <i class="far fa-comment mr-3"></i>
            3
            <i class="fas fa-reply"></i>
            </div>
        </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
        <div class="col-md-6">
            <div class="bg-image square mb-20">
            <img src="images/blog/home/6.jpg">
            </div>
        </div>
        <div class="col-md-6">
            <h4 class="color-orange">Blog title goes here lorem ipsum dolor sit amet...</h4>
            <p class="fw-600 fs-14 color-light mt-10">JUSTIN VAUGHN / 23 SEP</p>
            <div class="fs-16 fw-600 mt-20 color-light">
            12
            <i class="far fa-comment mr-3"></i>
            3
            <i class="fas fa-reply"></i>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>