<section>
    <!-- Slider main container -->
    <div class="swiper-container" id="hero-slider">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="top-contact">
                    <span class="fs-14 mr-40 d-inb">
                        <i class="fas fa-phone color-white"></i>
                        <p class="d-inb ml-2 color-white"> 032-957-9485</p>
                    </span>
                </div>
                <div class="hero hero-primary bg-image">
                    <img src="images/hero.jpg">
                    <div class="container">
                        <div class="hero-body">
                            <h1 class="color-white">Dr.Minerva Abbot</h1>
                            <p class="hero-sub-title mt-10">General and Cosmetic Dentistry
                                <br>San Jose, CA</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="top-contact">
                    <span class="fs-14 mr-40 d-inb">
                        <i class="fas fa-phone color-white"></i>
                        <p class="d-inb ml-2 color-white"> 032-957-9485</p>
                    </span>
                </div>
                <div class="hero hero-primary bg-image">
                    <img src="images/hero.jpg">
                    <div class="container">
                        <div class="hero-body">
                            <h1 class="color-white">Dr.Minerva Abbot</h1>
                            <p class="hero-sub-title mt-10">General and Cosmetic Dentistry
                                <br>San Jose, CA</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                    <div class="top-contact">
                    <span class="fs-14 mr-40 d-inb">
                        <i class="fas fa-phone color-white"></i>
                        <p class="d-inb ml-2 color-white"> 032-957-9485</p>
                    </span>
                </div>
                <div class="hero hero-primary bg-image">
                    <img src="images/hero.jpg">
                    <div class="container">
                        <div class="hero-body">                            
                            <h1 class="color-white">Dr.Minerva Abbot</h1>
                            <p class="hero-sub-title mt-10">General and Cosmetic Dentistry
                                <br>San Jose, CA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>