<section class="bg-primary">
    <div class="container">
        <div class="col-md-12">
            <div class="row justify-content-md-center">
                <div class="col-md-4 offset-md-1">
                    <h2 class="color-gray">Insurance</h2>
                    <p class="mt-20 color-gray normal">We accept all kinds of PPO and indemnity insurance. A preferred provider organization, typically referred
                        to as a PPO, offers you easy access to a network of providers who provide services at a discounted
                        rate. It enables patients to seek out-of-network services.
                    </p>
                </div>
                <div class="col-md-6">
                    <ul class="list">
                        <li>AETNA</li>
                        <li> Assurant/DHA</li>
                        <li> Blue Shield of CA</li>
                        <li> Delta Dental</li>
                        <li> Guardian</li>
                        <li> Metlife</li>
                        <li> Premier Access</li>
                        <li> Principal Standard</li>
                        <li> United Healthcare</li>
                        <li> Blue Shield of CA</li>
                        <li> Assurant/DHA</li>
                        <li> Delta Dental</li>
                        <li> Guardian</li>
                        <li> Metlife</li>
                        <li> Principal Standard</li>
                        <li>
                            <a class="btn btn-black color-white">12 More</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>