<section class="practice-section">
    <div class="container">
        <h2 class="color-orange">Our Practice</h2>
        <div class="pr-slider-container">
            <div class="swiper-container" id="practice-slider">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <div class="row no-gutters">
                                    <div class="col-md-6 bg-image square">
                                        <img src="images/practice/1.jpg" class="occupy">
                                    </div>
                                    <div class="col-md-6 bg-image square">
                                        <img src="images/practice/4.jpg" class="occupy">
                                    </div>
                                </div>
                                <div class="bg-image col-md-12 square-50">
                                    <img src="images/practice/2.jpg" class="occupy">
                                </div>
                            </div>
                            <div class="col-md-6 bg-image square">
                                <img src="images/practice/3.jpg" class="occupy">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <div class="row no-gutters">
                                    <div class="col-md-6 bg-image square">
                                        <img src="images/practice/1.jpg" class="occupy">
                                    </div>
                                    <div class="col-md-6 bg-image square">
                                        <img src="images/practice/4.jpg" class="occupy">
                                    </div>
                                </div>
                                <div class="bg-image col-md-12 square-50">
                                    <img src="images/practice/2.jpg" class="occupy">
                                </div>
                            </div>
                            <div class="col-md-6 bg-image square">
                                <img src="images/practice/3.jpg" class="occupy">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>