<section class="bg-secondary services">
    <div class="container">
        <h2 class="color-orange text-center">Our Services</h2>
        <div class="service-container">
            <div class="row">
                <div class="offset-md-1 col-md-2 mb-20">
                    <div class="service square bg-image">
                        <div class="bg-content">
                            <strong> Lorem Ipsum</strong>
                            <p>dolor sit amet</p>
                        </div>
                        <img src="images/services/1.jpg">
                    </div>
                </div>
                <div class="col-md-2 mb-20">
                    <div class="service square bg-image">
                        <div class="bg-content">
                            <strong> Lorem Ipsum</strong>
                            <p>dolor sit amet</p>
                        </div>
                        <img src="images/services/2.jpg">
                    </div>
                </div>
                <div class="col-md-2 mb-20">
                    <div class="service square bg-image">
                        <div class="bg-content">
                            <strong> Lorem Ipsum</strong>
                            <p>dolor sit amet</p>
                        </div>
                        <img src="images/services/3.jpg">
                    </div>
                </div>
                <div class="col-md-2 mb-20">
                    <div class="service square bg-image">
                        <div class="bg-content">
                            <strong> Lorem Ipsum</strong>
                            <p>dolor sit amet</p>
                        </div>
                        <img src="images/services/4.jpg">
                    </div>
                </div>
                <div class="col-md-2 mb-20">
                    <div class="service square bg-image">
                        <div class="bg-content">
                            <strong> Lorem Ipsum</strong>
                            <p>dolor sit amet</p>
                        </div>
                        <img src="images/services/5.jpg">
                    </div>
                </div>
                <div class="offset-md-1 col-md-2 mb-20">
                    <div class="service square bg-image">
                        <div class="bg-content">
                            <strong> Lorem Ipsum</strong>
                            <p>dolor sit amet</p>
                        </div>
                        <img src="images/services/6.jpg">
                    </div>
                </div>
                <div class="col-md-2 mb-20">
                    <div class="service square bg-image">
                        <div class="bg-content">
                            <strong> Lorem Ipsum</strong>
                            <p>dolor sit amet</p>
                        </div>
                        <img src="images/services/7.jpg">
                    </div>
                </div>
                <div class="col-md-2 mb-20">
                    <div class="service square bg-image">
                        <div class="bg-content">
                            <strong> Lorem Ipsum</strong>
                            <p>dolor sit amet</p>
                        </div>
                        <img src="images/services/8.jpg">
                    </div>
                </div>
                <div class="col-md-2 mb-20">
                    <div class="service square bg-image">
                        <div class="bg-content">
                            <strong> Lorem Ipsum</strong>
                            <p>dolor sit amet</p>
                        </div>
                        <img src="images/services/9.jpg">
                    </div>
                </div>
                <div class="col-md-2 mb-20">
                    <div class="service square bg-image">
                        <div class="bg-content">
                            <strong> Lorem Ipsum</strong>
                            <p>dolor sit amet</p>
                        </div>
                        <img src="images/services/9.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>