<section class="row">
        <div class="col-md-12">
          <div class="row justify-content-md-center">
            <div class="col-md-6 no-padding doc-item" data-category="view">
              <div class="doc-panel">
                <div class="row no-gutters">
                  <div class="col-md-5 bg-image">
                    <img class="doc-img" src="images/specialist/1.jpg">
                  </div>
                  <div class="col-md-7">
                    <div class="doc-row doc-header mt-30  ">
                      <h4>Dr. Maud McDonald</h4>
                      <p class="sub-title">General Physician</p>
                    </div>
                    <div class="doc-row doc-desc mt-20">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor sapien in ipsum consequat mollis.
                        Fusce sagittis, elit sed sollicitudin.</p>
                      <h5 class="mt-20">Education</h5>
                      <p class="mt-10">
                        University of Michigan
                        <br> School of Medical
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="doc-info">
                <div class="row no-gutters">
                  <div class="col-md-6 offset-md-2 flex">
                    <i class="fa fa-star with-border"></i>
                    <div class="desc">
                      <h5>Membership</h5>
                      <p class="mt-10">
                        Lorem ipsum dolor sit amet Consectetur adipiscing elit Maecenas tempor sapien
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4 flex">
                    <i class="fa fa-star with-border"></i>
                    <div class="desc">
                      <h5>Languages</h5>
                      <p class="mt-10">
                        English
                        <br> French
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 no-padding doc-item" data-category="ui">
              <div class="doc-panel ">
                <div class="row no-gutters">
                  <div class="col-md-5 bg-image">
                    <img class="doc-img" src="images/specialist/2.jpg">
                  </div>
                  <div class="col-md-7">
                    <div class="doc-row doc-header mt-30  ">
                      <h4>Dr. Maud McDonald</h4>
                      <p class="sub-title">General Physician</p>
                    </div>
                    <div class="doc-row doc-desc mt-20">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor sapien in ipsum consequat mollis.
                        Fusce sagittis, elit sed sollicitudin.</p>
                      <h5 class="mt-20">Education</h5>
                      <p class="mt-10">
                        University of Michigan
                        <br> School of Medical
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="doc-info">
                <div class="row no-gutters">
                  <div class="col-md-6 offset-md-2 flex">
                    <i class="fa fa-star with-border"></i>
                    <div class="desc">
                      <h5>Membership</h5>
                      <p class="mt-10">
                        Lorem ipsum dolor sit amet Consectetur adipiscing elit Maecenas tempor sapien
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4 flex">
                    <i class="fa fa-star with-border"></i>
                    <div class="desc">
                      <h5>Languages</h5>
                      <p class="mt-10">
                        English
                        <br> French
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
          <div class="row justify-content-md-center">
            <div class="col-md-6 no-padding doc-item" data-category="view">
              <div class="doc-panel">
                <div class="row no-gutters">
                  <div class="col-md-5 bg-image">
                    <img class="doc-img" src="images/specialist/3.jpg">
                  </div>
                  <div class="col-md-7">
                    <div class="doc-row doc-header mt-30  ">
                      <h4>Dr. Maud McDonald</h4>
                      <p class="sub-title">General Physician</p>
                    </div>
                    <div class="doc-row doc-desc mt-20">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor sapien in ipsum consequat mollis.
                        Fusce sagittis, elit sed sollicitudin.</p>
                      <h5 class="mt-20">Education</h5>
                      <p class="mt-10">
                        University of Michigan
                        <br> School of Medical
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="doc-info">
                <div class=" row no-gutters">
                  <div class="col-md-6 offset-md-2 flex">
                    <i class="fa fa-star with-border"></i>
                    <div class="desc">
                      <h5>Membership</h5>
                      <p class="mt-10">
                        Lorem ipsum dolor sit amet Consectetur adipiscing elit Maecenas tempor sapien
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4 flex">
                    <i class="fa fa-star with-border"></i>
                    <div class="desc">
                      <h5>Languages</h5>
                      <p class="mt-10">
                        English
                        <br> French
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 no-padding doc-item" data-category="ui">
              <div class="doc-panel">
                <div class="row no-gutters">
                  <div class="col-md-5 bg-image">
                    <img class="doc-img" src="images/specialist/4.jpg">
                  </div>
                  <div class="col-md-7">
                    <div class="doc-row doc-header mt-30  ">
                      <h4>Dr. Maud McDonald</h4>
                      <p class="sub-title">General Physician</p>
                    </div>
                    <div class="doc-row doc-desc mt-20">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor sapien in ipsum consequat mollis.
                        Fusce sagittis, elit sed sollicitudin.</p>
                      <h5 class="mt-20">Education</h5>
                      <p class="mt-10">
                        University of Michigan
                        <br> School of Medical
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="doc-info">
                <div class="row no-gutters">
                  <div class="col-md-6 offset-md-2 flex">
                    <i class="fa fa-star with-border"></i>
                    <div class="desc">
                      <h5>Membership</h5>
                      <p class="mt-10">
                        Lorem ipsum dolor sit amet Consectetur adipiscing elit Maecenas tempor sapien
                      </p>
                    </div>
                  </div>
                  <div class="col-md-4 flex">
                    <i class="fa fa-star with-border"></i>
                    <div class="desc">
                      <h5>Languages</h5>
                      <p class="mt-10">
                        English
                        <br> French
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </section>