<section class="bg-info">
    <div class="container">
        <h2 class="text-center">Meet Our Team</h2>
        <div class="row mt-40 justify-content-md-center">
        <div class="col-md-3">
            <div class="bg-image square-133 mb-20">
            <img src="images/team/1.jpg" class="occupy-y">
            </div>
            <h5 class="color-gray">Angel Ortiz</h5>
            <p class="fw-600">Physician</p>
            <p class="mt-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor sapien in ipsum consequat mollis. Fusce
            sagittis..
            </p>
        </div>
        <div class="col-md-3">
            <div class="bg-image square-133 mb-20">
            <img src="images/team/4.jpg" class="occupy-x">
            </div>
            <h5 class="color-gray">Rachel Bush</h5>
            <p class="fw-600">Physician</p>
            <p class="mt-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor sapien in ipsum consequat mollis. Fusce
            sagittis..
            </p>
        </div>
        <div class="col-md-3">
            <div class="bg-image square-133 mb-20">
            <img src="images/team/2.jpg" class="occupy-x">
            </div>
            <h5 class="color-gray">Gene Hodges</h5>
            <p class="fw-600">Physician</p>
            <p class="mt-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor sapien in ipsum consequat mollis. Fusce
            sagittis..
            </p>
        </div>
        <div class="col-md-3">
            <div class="bg-image square-133 mb-20">
            <img src="images/team/3.jpg" class="occupy-y">
            </div>
            <h5 class="color-gray">Todd Montgomery</h5>
            <p class="fw-600">Physician</p>
            <p class="mt-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempor sapien in ipsum consequat mollis. Fusce
            sagittis..
            </p>
        </div>
        </div>
    </div>
</section>