/***************************
****************************
Theme Styles
****************************
***************************/

.color-white{
  color: $white;
}

.color-orange{
  color: $btn-primary-bg;
}

.color-black{
  color: $black;
}

.color-light-gray{
  color: $light-gray;
}

.color-light{
  color : #bfbfbf
}
.color-gray{
  color: $gray;
}