<div class="header-container">
    <a class="logo logo-primary">
        <img src="images/logo.jpg">
        <i class="fas fa-bars toggle-nav"></i>
    </a>
    <nav class="nav nav-primary navbarItems">
        <ul>
            <li>
                <a href="/" class="btn btn-nav">Home</a>
            </li>
            <li>
                <a href="/about.html" class="btn btn-nav">About</a>
            </li>
            <li>
                <a href="/gallery.html" class="btn btn-nav">Gallery</a>
            </li>
            <li>
                <a href="/speciality.html" class="btn btn-nav">Speciality</a>
            </li>
            <li>
                <a href="/reviews.html" class="btn btn-nav">Reviews</a>
            </li>
            <li>
                <a href="/contact.html" class="btn btn-nav last">Contact</a>
            </li>
            <li>
                <a href="#" class="btn btn-primary btn-large color-white book-online">Book Online</a>
            </li>
        </ul>
    </nav>
</div>