$green: #8DC63F !default;
$orange: #F7941E !default;
$brown: #efe9db !default;
$dark-brown: #414042 !default;
$tan: #e7e1d7 !default;
$white : #FFF;
$black : #333;
$gray : #424242;
$light-gray : #999;
$text_color: #8a8888 !default;
$link-color:#8DC63F !default;
$primary-mask-color: #F7941E !default;
$heading_color : #000;
$sub_heading_color : #5c5b5c;
//buttons
$btn-primary-bg : #d0a43f;
//border
$border_dark_color : #5c5b5c;
//pagination
$pagination-bullet-bg : #747268;
//nav-colors
$nav-link-bg : #565844;
$nav-link-border-color : #6a6d54;


//bootstrap
$enable-rounded : false;