.list{
    >li{
        float: left;
        width : 50%;
        padding: 5px 3px;
        @extend .color-gray;
        @extend .bold;
        &:last-child{
            list-style: none;
        }
    }
}