/***************************
Nav Modules
***************************/
@import "../base/_media-queries.scss";
.nav > ul {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0px;
  @media (max-width: 767px) {
   flex-wrap: wrap; 
   flex : 1;
   min-width: 100%;
  }
}
.nav-primary {
  @include small-and-above {
    float: right;
    width: 60%;
    text-align: right;
    margin-top: 0px;
    li {
      display: inline-block;
      flex : 1;
        .btn-nav.last{
          border-right: 0px;
        }
      &:last-child{
        flex : 0;
      }
      .btn{
        text-transform: uppercase;
      }
    }
    .btn-primary{
      width: 280px;
      font-size: 0.9rem;
      padding: 18px 30px;
    }
  }
}
.fas.fa-bars.toggle-nav{
  display: none;
}
.header-container{
  @media (max-width: 767px) {
    .logo-primary{
      flex : 1;
      min-width: 100%;
      display: flex;
      justify-content: space-between;
      padding-right: 20px;
      align-items: center; 
      .fas{
        font-size : 24px;
        align-items: center;
      }
    }
    flex-wrap: wrap; 
    .nav{
      display: none;
    }
    .nav > ul  > li{ 
      min-width: 100%;
      .book-online{
        width : 100%;
      }
    }
  }
}