.services{
    .service-container{
        margin-top: 40px;        
        .service{
            @extend .circle-image;
            .bg-content{
                background: #0000006b;
                strong{
                  @extend .color-white;
                }
                @extend .column;
              }
            &:hover{
              .bg-content{
                background: #000000bf;
              }
              border : 2px solid $orange;
            }
        }
    }
}